<!DOCTYPE html>
<html lang="en">
{{>_head}}
<body>
  <audio id="audio" src="/sounds/OOT_Get_Heart.wav"></audio>
  <div class="container">
    <div class="page-header">
      <h1>Zelda Ipsum <small>by Ryan Kelley</small></h1>
    </div>
    <p class="lead">Need a bit of adventure? Take this.</p>
    <div class="form-container">
      <form class="ipsum-form form-inline" action="/" method="post">
        <select class="form-control" name="number">
          <option value="">How many paragraphs do you want?</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" name="submit" value="HYAH!">
      </form>
      <div class="output-wrapper">
        {{#text}}
          <div class="output">
            {{>_zeldaText}}
          </div>
        {{/text}}
        {{^text}}
        {{/text}}
      </div>
    </div>
  {{>_scripts}}
</body>
