/*colors:

green: #248810 (37, 136, 16)

*/

/*Google fonts: 'Love Ya Like A Sister', 'Lato'*/

/*background image from http://p1.pichost.me/i/40/1639586.jpg*/

body {
  background-image: url("/images/hyrule-field.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #248810;
  font-family: 'Lato', sans-serif;
}

form.ipsum-form {
  padding-bottom: 2%;
}

h1, h2, .lead {
  font-family: 'Love Ya Like A Sister', cursive;
}

div.output-wrapper {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: rgba(207, 210, 224, 0.7);
}

div.output {
  padding: 0 1%;
}

input {
  font-family: 'Love Ya Like A Sister', cursive;
}

/*Navi styles*/

body.navi {
  background-image: url('images/navi-wallpaper.jpg');
}
