/*colors:

green: #248810 (37, 136, 16)
red: #9D1320 (157, 19, 32)
orange: #A34F13 (163, 79, 19)
blue: #0C665A (12, 102, 90)
brown: #84310D (132, 48, 13)
dark blue: #0E3555 (14, 53, 85)


*/

body {
  background-image: url("/images/hyrule-field.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #248810;
  font-family: 'Lato', sans-serif;
}

form.ipsum-form {
  padding-bottom: 2%;
}

h1, h2, .lead {
  font-family: 'Love Ya Like A Sister', cursive;
}

div.output-wrapper {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: rgba(207, 210, 224, 0.7);
}

div.output {
  padding: 0 1%;
}

input {
  font-family: 'Love Ya Like A Sister', cursive;
}
